@import '../../styles/sizing.scss';

/* Modal Styles */
.modal {
  .modalContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    > * {
      margin: 10px auto;
    }

    .selectUsers {
      width: 80%;

      select {
        text-align: center;
      }
    }

    .selectedWager {
      display: flex;
      flex-direction: column;
      position: absolute;
    }

    .buttonContainer {
      display: flex;
      justify-content: space-between;
      width: 150px;
    }
  }
}

@media screen and (max-width: $appMinWidth) {
  .pool {
    margin-bottom: 50px;

    .wagerList {
      margin: 0 auto 75px auto;
    }
  }
}
