@import '../../styles/sizing.scss';

/* Modal Styles */
.modal {
  .modalContent {
    display: flex;
    position: relative;

    .selectedWager {
      display: flex;
      flex-direction: column;
      position: absolute;
    }

    .buttonContainer {
      align-self: flex-end;
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
}

@media screen and (max-width: $appMinWidth) {
  .pool {
    margin-bottom: 50px;

    .wagerList {
      margin: 0 auto 75px auto;
    }
  }
}
