.app {
  color: white;
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1050px;
  padding-top: 50px;
  z-index: 0;

  .content {
    margin: 50px 0;
    overflow-y: auto;

    &.subHeaderOpen {
      padding: 75px 0;
    }
  }

  .attribution {
    bottom: 0;
    font-size: 12px;
    position: absolute;
  }
}
