@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/sizing.scss';

$modalBackground: #454545;

.modal {
  border-radius: 5px;
  height: 350px;
  margin: 60px auto;
  max-width: 600px;
  outline: none;
  position: relative;
  width: 70%;
  z-index: 15;

  .draggable {
    display: block;
  }

  .header {
    align-items: center;
    background: $modalBackground;
    color: $gray-0;
    display: flex;
    height: 30px;

    .headerText {
      display: inline-block;
      margin-left: 10px;
    }

    .closeButton {
      align-items: center;
      background: $modalBackground;
      box-shadow: none;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 5px;
      display: flex;
      font-size: 16px;
      height: 30px;
      margin: 0;
      opacity: 0.5;
      padding: 0;
      position: absolute;
      right: 0;
      vertical-align: bottom;
      width: 30px;

      &:hover {
        background: $modalBackground;
        box-shadow: none;
        opacity: 1;
        transform: none;
      }
    }
  }

  .content {
    background: $gray-90;
    border: 5px solid $modalBackground;
    color: $gray-0;
    height: 100%;
    padding: 10px;
  }
}

.overlay {
  background-color: none;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

@media screen and (max-width: $smallScreen) {
  .modal {
    height: 100%;
    max-width: 100%;
    width: 98%;

    .content {
      height: 80%;
    }
  }
}
