@import '../../../styles/colors';
@import '../../../styles/sizing';

.subHeader {
  align-items: center;
  background: $gray-80;
  color: white;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  left: 0;
  margin: 0 auto;
  min-width: $appMinWidth;
  position: absolute;
  right: 0;
  top: 50px;
  width: 100%;
  text-align: center;
  z-index: 5;

  .content {
    align-items: center;
    display: flex;
    margin: 0 25px;
  }
}
