@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/sizing';

.buttonContainer {
  align-items: center;
  display: flex;

  > div {
    align-items: center;
    display: flex;
    margin-left: 10px;

    svg {
      fill: $gray-0;
      height: 30px;
      width: 30px;
    }
  }
}

.subHeader {
  justify-content: space-between;
  width: 100%;

  .poolName {
    justify-self: flex-start;
  }
}

.pool {
  margin-bottom: 50px;

  .wagerList {
    align-items: center;
    color: $gray-0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin: 0 50px 75px 50px;

    .wager {
      @include gridTile();

      color: $gray-0;
      flex-direction: column;
      padding: 15px 10px;

      &.inactive {
        border: 2px dashed;
        opacity: 0.6;
      }

      &.winner {
        background: $winnerBackground;
      }

      &.loser {
        background: $loserBackground;
      }

      .amount {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .description {
        font-size: 20px;
      }
    }
  }
}

/* Modal Styles */
.modal {
  .modalContent {
    display: flex;
    position: relative;

    .selectedWager {
      display: flex;
      flex-direction: column;
      position: absolute;
    }

    .buttonContainer {
      align-self: flex-end;
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
}

@media screen and (max-width: $appMinWidth) {
  .pool {
    margin-bottom: 50px;

    .wagerList {
      margin: 0 auto 75px auto;
    }
  }
}
