@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/sizing';

.subHeader {
  justify-content: space-between;
  width: 100%;

  .poolName {
    justify-self: flex-start;
  }
}

.pool {
  margin-bottom: 50px;

  .wagerList {
    .noWagers {
      text-align: center;
    }

    .wagerGroupHeading {
      border-bottom: 2px solid $gray-0;
      font-size: 26px;
      margin: 0 auto 25px auto;
      max-width: 700px;
      padding: 10px;
      width: 90%;
    }

    .activeWagers,
    .inactiveWagers,
    .completedWagers {
      color: $gray-0;

      .wager {
        @include listItem();

        color: $gray-0;
        justify-content: flex-start;
        padding: 15px;
        user-select: none;
        width: 85%;

        &.inactive {
          border: 2px dashed;
          opacity: 0.6;

          &.waiting {
            border: 2px transparent;
            background: #9999ff;
            opacity: 1;
          }
        }

        &.winner {
          background: $winnerBackground;
        }

        &.loser {
          background: $loserBackground;
        }

        .amount {
          font-size: 32px;
          font-weight: bold;
          margin-right: 25px;
          width: 50px;
        }

        .description {
          font-size: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

@media screen and (max-width: $appMinWidth) {
  .pool {
    margin-bottom: 50px;

    .wagerList {
      margin: 0 auto 75px auto;
    }
  }
}
