@import '../../styles/colors';

.subHeader {
  width: 100%;

  .backButton {
    align-self: flex-start;
    align-items: center;
    display: flex;
  
    svg {
      fill: $gray-0;
      height: 30px;
      width: 30px;
    }
  }  
}

.wager {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;

  .content {
    margin: 50px auto;

    .amount {
      font-size: 30px;
    }

    .description {
      font-size: 26px;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;

    > div {
      margin-left: 10px;
    }
  }
}
