@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/sizing';

.poolControls {
  align-items: center;
  display: flex;

  .newPoolButton {
    margin: 0 10px;
  }

  .newPoolName {
    .newPoolNameInput {
      font-size: 20px;
      padding: 7px 10px;
    }
  }
}

.home {
  align-items: center;
  margin: 0 auto 75px auto;
  width: 100%;

  .pageHeader {
    img {
      margin: 10px auto 50px auto;
      width: 150px;
    }
  }

  .myPools {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

    .pool {
      @include gridTile();
    }
  }
}
