@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/sizing';

.home {
  align-items: center;
  margin: 0 auto 75px auto;
  width: 100%;

  .pageHeader {
    padding: 50px 0 0 0;

    img {
      margin: 10px auto 50px auto;
      width: 150px;
    }
  }

  .myPools {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;

    .pool {
      @include gridTile();
    }
  }
}
