/* .animation-enter {
  opacity: 0.01;
}

.animation-enter.animation-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.animation-leave {
  opacity: 1;
}

.animation-leave.animation-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
} */

.animation-enter {
  opacity: 0;
}

.animation-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.animation-exit {
  opacity: 1;
}

.animation-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}