@import '../../styles/colors';

.notifications {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .noNotifications {
    font-size: 1.3em;
    margin: 50px 0;
    text-align: center;
  }

  .notification {
    align-items: center;
    display: flex;
    margin: 20px auto;
    width: 90%;

    &.read {
      opacity: 0.5;

      .controls {
        .readButton {
          background: transparent;
        }
      }
    }

    &.dismissed {
      background: orange;
    }

    .profilePic {
      margin-right: 10px;

      img {
        border: 1px solid $gray-0;
        border-radius: 50%;
        width: 60px;
      }
    }

    .content {
      width: 75%;

      .title {
        font-size: 1.1em;
        font-weight: bold;
        margin: 7px auto;
      }
  
      .message {
        margin-bottom: 5px;
      }
  
      .timestamp {
        font-size: 0.8em;
        opacity: 0.7;
      } 
    }

    .controls {
      align-items: center;
      display: flex;

      .readButton {
        background: $oldBlueBackground;
        border: 1px solid $gray-0;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        height: 10px;
        margin-left: 25px;
        transition: 0.3s all ease;
        width: 10px;

        &:hover {
          background: transparent;
        }
      }

      .dismissButton {
        background: transparent;
        margin-left: 10px;
      }
    }
  }
}
