@import '../../styles/colors';
@import '../../styles/sizing';

.notifications {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    max-width: 700px;
    width: 90%;
  }

  .noNotifications {
    font-size: 1.3em;
    margin: 50px 0;
    text-align: center;
  }

  .notificationList {
    padding-bottom: 50px;
  }

  .notification {
    align-items: center;
    border-radius: 5px;
    display: flex;
    margin: 5px auto;
    max-width: 700px;
    padding: 15px;
    transition: 0.3s all ease;
    width: 90%;

    a:link,
    a:active,
    a:visited {
      border: none;
      color: $gray-0;
      outline: none;
      text-decoration: none;
    }

    .controls {
      align-items: center;
      display: flex;

      .readButton {
        background: #6987a6;
        border: 1px solid $gray-0;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        height: 10px;
        margin-left: 25px;
        transition: 0.3s all ease;
        width: 10px;

        &:hover {
          background: transparent;
        }
      }

      .dismissButton {
        background: transparent;
        margin-left: 10px;
      }
    }

    &.read {
      opacity: 0.5;

      .controls {
        .readButton {
          background: transparent;
          cursor: default;
        }
      }
    }

    &:hover:not(.read) {
      background: $gray-60;
    }

    &.dismissed {
      background: orange;
    }

    .profilePic {
      margin-right: 10px;

      img {
        border: 1px solid $gray-0;
        border-radius: 50%;
        width: 60px;
      }
    }

    .content {
      width: 75%;

      .title {
        font-size: 1.1em;
        font-weight: bold;
        margin: 7px auto;
      }

      .message {
        margin-bottom: 5px;
      }

      .timestamp {
        font-size: 0.8em;
        opacity: 0.7;
      }

      &.disabled {
        .title,
        .message,
        .timestamp {
          cursor: default;
        }
      }
    }
  }
}

@media screen and (max-width: $appMinWidth) {
  .notifications {
    .notification {
      .content {
        font-size: 12px;

        .title {
          margin: 3px auto;
        }
      }

      .profilePic {
        img {
          height: 25px;
          width: 25px;
        }
      }
    }
  }
}
