.notifications {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .notification {
    margin: 20px auto;
    width: 90%;

    .title {
      font-size: 1.1em;
      font-weight: bold;
      margin: 7px auto;
    }

    .message {
      margin-bottom: 5px;
    }

    .timestamp {
      font-size: 0.8em;
      opacity: 0.7;
    }
  }
}
