.usersModal {
  .usersModalContent {
    display: flex;
    position: relative;

    .selectedWager {
      display: flex;
      flex-direction: column;
      position: absolute;
    }

    .buttons {
      align-self: flex-end;
      justify-content: flex-end;
      width: 100%;
    }
  }
}
