@import './styles/colors.scss';
@import './styles/normalize.scss';
@import './styles/scrollbar.scss';
@import './styles/sizing.scss';

body {
  background: #262239;
  margin: 0;
  min-width: $appMinWidth;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  position: relative;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 5vw;
}

a {
  &:active,
  &:link,
  &:visited {
    color: white;
  }
}

#root {
  margin: 0 auto;
  padding: 15px;
}

.fadeAnimation-enter {
  opacity: 0;
}

.fadeAnimation-enter-active {
  opacity: 1;
  transition: all 0.3s ease;
}

.fadeAnimation-exit {
  opacity: 1;
}

.fadeAnimation-exit-active {
  opacity: 0;
  transition: all 0.3s ease;
}
